<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags always come first -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Galactic Risk</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column col-sm-2">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Galactic Risk</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/index">Map</a>
                <a class="nav-link" href="/mapMaker">Map Maker</a>
                <a class="nav-link" href="/army">Army</a>
                <a class="nav-link" href="/dev">Other</a>
            </nav>
        </div>
    </header>
    <main role="main" class="container-fluid overflow-hidden" style="height: 90%">
        <map id = "map"class="container-fluid" style="display: inline-block; height: 100%; width: 100%">

        </map>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made with BootStrap, by Teva Zanker</p>
        </div>
    </footer>
</div>
<div class="h-75 ml-1 mr-5 my-auto col-sm-2 rounded p-1 overflow-auto" id ="mapPallet" style="width: 5%">
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: var(--bs-blue);
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: darkgreen;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: red;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: saddlebrown;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: greenyellow;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: orange;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: grey;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: darkred;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: deeppink;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: pink;
           display: inline-block;
           width: 60%"
    ></color>
    <color class = "my-auto mx-0 rounded-circle"
           style="background-color: lightgoldenrodyellow;
           display: inline-block;
           width: 60%"
    ></color>
    <lineMode class="my-auto mx-0 rounded"
              style="height: 10px;
              background-color: white;
              display: inline-block;
              width: 80%;"
    ></lineMode>
</div>

</body>







<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>

<script type="module" src={{ mapScript }}></script>
</body>
</html>

